{{#each pictures as |picture|}}
  <section data-id="{{picture.id}}">
    <h3>{{picture.title}}</h3>
    <h3>{{picture.description}}</h3>
    <img src="{{picture.url}}" alt="picture" class="img-thumbnail">
    <button type="submit" class="btn btn-danger update-picture">Update</button>
    <button type="submit" class="btn btn-danger delete-picture">Remove</button>
  </section>
{{/each}}
