@import '~bootstrap/scss/bootstrap';
@import 'typography';

.hidden {
  display: none;
}

body {
  // background-image: url('public/background.jpg');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: #3e4a61;
  font-family: 'Baloo 2', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  }

.delete-picture {
  color: #FF0000
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, .5);
}

h3 {
  font-size: 14px;
}

.product-name {
  font-size: 40px;
  color: $white;
  padding: 20px;
  font-family: "Dancing Script"
}

nav {
  background-color: #00000080;
}

.sign-in,
.sign-up,
.change-pwrd,
.sign-out,
.my-pictures,
.all-pictures {
  padding: 20px;
  color: white;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

@media (max-width: 700px) {
  .content {
    grid-template-columns: 1fr;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px auto;
}

.add {
  font-size: 20px;
  color: white;
  background-color: #26aa36;
  border-radius: 25px;
  display: block;
  padding: 5px 10px;
  margin: 0 auto !important;
}

.add:hover {
    background-color: rgba(255, 255, 255, 0.2 );
}

.post {
  background-color: white;
  color: black;
  text-align: center;
}

.post div {
  padding-top: 20px;
}

.thumb {
  width: 90%;
  margin: 0 auto;
}
